<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated joomlagen -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.github.kanafghan.welipse.joomlagen.presentation.JoomlaGenModelWizardID"
            name="%_UI_JoomlaGenModelWizard_label"
            class="com.github.kanafghan.welipse.joomlagen.presentation.JoomlaGenModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/JoomlaGenModelFile.gif">
         <description>%_UI_JoomlaGenModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated joomlagen -->
      <editor
            id="com.github.kanafghan.welipse.joomlagen.presentation.JoomlaGenEditorID"
            name="%_UI_JoomlaGenEditor_label"
            icon="icons/full/obj16/JoomlaGenModelFile.gif"
            extensions="joomlagen"
            class="com.github.kanafghan.welipse.joomlagen.presentation.JoomlaGenEditor"
            contributorClass="com.github.kanafghan.welipse.joomlagen.presentation.JoomlaGenActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.github.kanafghan.welipse.ui.popups"
            defaultHandler="com.github.kanafghan.welipse.joomlagen.handler.ReloadGenModelHandler"
            description="Reload the Joomla! Generator Model"
            id="com.github.kanafghan.welipse.joomlagen.editor.command.ReloadGenModel"
            name="Reload Gen Model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?endof=additions">
         <command
               commandId="com.github.kanafghan.welipse.joomlagen.editor.command.ReloadGenModel"
               label="&amp;Reload..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.joomlagen">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
