<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated joomlagen -->
      <package
            uri="http://github.com/kanafghan/welipse/joomlagen/1.0"
            class="com.github.kanafghan.welipse.joomlagen.JoomlaGenPackage"
            genModel="model/joomlagen.genmodel"/>
   </extension>

</plugin>
