<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated webdsl -->
      <package
            uri="http://github.com/kanafghan/welipse/webdsl/1.0"
            class="com.github.kanafghan.welipse.webdsl.WebDSLPackage"
            genModel="model/webdsl.genmodel"/>
   </extension>

</plugin>
